<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title %}
    <title>{{ title }} - Flask Application</title>
    {% else %}
    <title>Play With Friends - Flask Application</title>
    {% endif %}
  </head>
  <body>
    <div>
      Play With Friends - <a href="{{ url_for('/index.html') }}">Index</a>
      <a href="{{ url_for('search.html') }}">Search</a>
    </div>
    <hr />
    {% block content %} {% endblock %}
  </body>
</html>
